<div id="availGrid">
    <div class="availTitle">Add Availability</div>
    <div class="availMon availDayLabel">Mon</div>
    <div class="availTue availDayLabel">Tue</div>
    <div class="availWed availDayLabel">Wed</div>
    <div class="availThu availDayLabel">Thu</div>
    <div class="availFri availDayLabel">Fri</div>
    <div class="availSat availDayLabel">Sat</div>
    <div class="availSun availDayLabel">Sun</div>
    <div class="availCheckMon availDayCheck">
        <input type="checkbox" value="monday">
    </div>
    <div class="availCheckTue availDayCheck">
        <input type="checkbox" value="tuesday">
    </div>
    <div class="availCheckWed availDayCheck">
        <input type="checkbox" value="wednesday">
    </div>
    <div class="availCheckThu availDayCheck">
        <input type="checkbox" value="thursday">
    </div>
    <div class="availCheckFri availDayCheck">
        <input type="checkbox" value="friday">
    </div>
    <div class="availCheckSat availDayCheck">
        <input type="checkbox" value="saturday">
    </div>
    <div class="availCheckSun availDayCheck">
        <input type="checkbox" value="sunday">
    </div>
    <div class="availTeacher availDropTitle">Teacher</div>
    <div class="availDropContT">
        <select id="teacherSelectSingle" name="TeachersSingle" ></select>
    </div>
    <div class="availCentre availDropTitle">Centre</div>
    <div class="availDropContC">
        <select id="centreSelectSingle" name="CentresSingle" ></select>
    </div>
    <div class="availStart availDropTitle">Start</div>
    <div class="availEnd availDropTitle">End</div>
    <div class="availTime availDropTitle">Time</div>
    <div class="availDropTimeStart">
        <select id="availTimeStart" class="form-control">
            <option value="2">00:00</option>
            <option value="3">00:15</option>
            <option value="4">00:30</option>
            <option value="5">00:45</option>
            <option value="6">01:00</option>
            <option value="7">01:15</option>
            <option value="8">01:30</option>
            <option value="9">01:45</option>
            <option value="10">02:00</option>
            <option value="11">02:15</option>
            <option value="12">02:30</option>
            <option value="13">02:45</option>
            <option value="14">03:00</option>
            <option value="15">03:15</option>
            <option value="16">03:30</option>
            <option value="17">03:45</option>
            <option value="18">04:00</option>
            <option value="19">04:15</option>
            <option value="20">04:30</option>
            <option value="21">04:45</option>
            <option value="22">05:00</option>
            <option value="23">05:15</option>
            <option value="24">05:30</option>
            <option value="25">05:45</option>
            <option value="26">06:00</option>
            <option value="27">06:15</option>
            <option value="28">06:30</option>
            <option value="29">06:45</option>
            <option value="30">07:00</option>
            <option value="31">07:15</option>
            <option value="32">07:30</option>
            <option value="33">07:45</option>
            <option value="34">08:00</option>
            <option value="35">08:15</option>
            <option value="36">08:30</option>
            <option value="37">08:45</option>
            <option value="38">09:00</option>
            <option value="39">09:15</option>
            <option value="40">09:30</option>
            <option value="41">09:45</option>
            <option value="42">10:00</option>
            <option value="43">10:15</option>
            <option value="44">10:30</option>
            <option value="45">10:45</option>
            <option value="46">11:00</option>
            <option value="47">11:15</option>
            <option value="48">11:30</option>
            <option value="49">11:45</option>
            <option value="50">12:00</option>
            <option value="51">12:15</option>
            <option value="52">12:30</option>
            <option value="53">12:45</option>
            <option value="54">13:00</option>
            <option value="55">13:15</option>
            <option value="56">13:30</option>
            <option value="57">13:45</option>
            <option value="58">14:00</option>
            <option value="59">14:15</option>
            <option value="60">14:30</option>
            <option value="61">14:45</option>
            <option value="62">15:00</option>
            <option value="63">15:15</option>
            <option value="64">15:30</option>
            <option value="65">15:45</option>
            <option value="66">16:00</option>
            <option value="67">16:15</option>
            <option value="68">16:30</option>
            <option value="69">16:45</option>
            <option value="70">17:00</option>
            <option value="71">17:15</option>
            <option value="72">17:30</option>
            <option value="73">17:45</option>
            <option value="74">18:00</option>
            <option value="75">18:15</option>
            <option value="76">18:30</option>
            <option value="77">18:45</option>
            <option value="78">19:00</option>
            <option value="79">19:15</option>
            <option value="80">19:30</option>
            <option value="81">19:45</option>
            <option value="82">20:00</option>
            <option value="83">20:15</option>
            <option value="84">20:30</option>
            <option value="85">20:45</option>
            <option value="86">21:00</option>
            <option value="87">21:15</option>
            <option value="88">21:30</option>
            <option value="89">21:45</option>
            <option value="90">22:00</option>
            <option value="91">22:15</option>
            <option value="92">22:30</option>
            <option value="93">22:45</option>
            <option value="94">23:00</option>
            <option value="95">23:15</option>
            <option value="96">23:30</option>
            <option value="97">23:45</option>
            <option value="98">00:00</option>
        </select>
    </div>
    <div class="availDropTimeEnd">
        <select id="availTimeEnd" class="form-control">
            <option value="2">00:00</option>
            <option value="3">00:15</option>
            <option value="4">00:30</option>
            <option value="5">00:45</option>
            <option value="6">01:00</option>
            <option value="7">01:15</option>
            <option value="8">01:30</option>
            <option value="9">01:45</option>
            <option value="10">02:00</option>
            <option value="11">02:15</option>
            <option value="12">02:30</option>
            <option value="13">02:45</option>
            <option value="14">03:00</option>
            <option value="15">03:15</option>
            <option value="16">03:30</option>
            <option value="17">03:45</option>
            <option value="18">04:00</option>
            <option value="19">04:15</option>
            <option value="20">04:30</option>
            <option value="21">04:45</option>
            <option value="22">05:00</option>
            <option value="23">05:15</option>
            <option value="24">05:30</option>
            <option value="25">05:45</option>
            <option value="26">06:00</option>
            <option value="27">06:15</option>
            <option value="28">06:30</option>
            <option value="29">06:45</option>
            <option value="30">07:00</option>
            <option value="31">07:15</option>
            <option value="32">07:30</option>
            <option value="33">07:45</option>
            <option value="34">08:00</option>
            <option value="35">08:15</option>
            <option value="36">08:30</option>
            <option value="37">08:45</option>
            <option value="38">09:00</option>
            <option value="39">09:15</option>
            <option value="40">09:30</option>
            <option value="41">09:45</option>
            <option value="42">10:00</option>
            <option value="43">10:15</option>
            <option value="44">10:30</option>
            <option value="45">10:45</option>
            <option value="46">11:00</option>
            <option value="47">11:15</option>
            <option value="48">11:30</option>
            <option value="49">11:45</option>
            <option value="50">12:00</option>
            <option value="51">12:15</option>
            <option value="52">12:30</option>
            <option value="53">12:45</option>
            <option value="54">13:00</option>
            <option value="55">13:15</option>
            <option value="56">13:30</option>
            <option value="57">13:45</option>
            <option value="58">14:00</option>
            <option value="59">14:15</option>
            <option value="60">14:30</option>
            <option value="61">14:45</option>
            <option value="62">15:00</option>
            <option value="63">15:15</option>
            <option value="64">15:30</option>
            <option value="65">15:45</option>
            <option value="66">16:00</option>
            <option value="67">16:15</option>
            <option value="68">16:30</option>
            <option value="69">16:45</option>
            <option value="70">17:00</option>
            <option value="71">17:15</option>
            <option value="72">17:30</option>
            <option value="73">17:45</option>
            <option value="74">18:00</option>
            <option value="75">18:15</option>
            <option value="76">18:30</option>
            <option value="77">18:45</option>
            <option value="78">19:00</option>
            <option value="79">19:15</option>
            <option value="80">19:30</option>
            <option value="81">19:45</option>
            <option value="82">20:00</option>
            <option value="83">20:15</option>
            <option value="84">20:30</option>
            <option value="85">20:45</option>
            <option value="86">21:00</option>
            <option value="87">21:15</option>
            <option value="88">21:30</option>
            <option value="89">21:45</option>
            <option value="90">22:00</option>
            <option value="91">22:15</option>
            <option value="92">22:30</option>
            <option value="93">22:45</option>
            <option value="94">23:00</option>
            <option value="95">23:15</option>
            <option value="96">23:30</option>
            <option value="97">23:45</option>
            <option value="98">00:00</option>
        </select>
    </div>
    <div class="availDate availDropTitle">Date</div>
    <script>
    $( function() {
        var dateFormat = "dd/mm/yy",
            from = $( "#startDateInput" ).datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                changeYear: true,
                numberOfMonths: 1,
                firstDay: 1,
                dateFormat: 'dd/mm/yy'
            })
            .on( "change", function() {
                to.datepicker( "option", "minDate", getDate( this ) );
            }),
            to = $( "#endDateInput" ).datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                changeYear: true,
                numberOfMonths: 1,
                firstDay: 1,
                dateFormat: 'dd/mm/yy'
            })
            .on( "change", function() {
                from.datepicker( "option", "maxDate", getDate( this ) );
            });

        function getDate( element ) {
            var date;
            try {
                date = $.datepicker.parseDate( dateFormat, element.value );
            } catch( error ) {
                date = null;
            }

            return date;
        }
    });
    </script>
    <div class="availDateStart">
        <input id="startDateInput" type="text" class="form-control">
    </div>
    <div class="availDateEnd">
        <input id="endDateInput" type="text" class="form-control">
    </div>
    <div class="availSubmit">
        <button id="availSubmit" class="btn btn-info">ADD</button>
        <button id="availClose" class="btn btn-outline-secondary">Cancel</button>
    </div>
</div>