<!DOCTYPE html>

<html>
    <head>
    </head>
    <body>
        <!--STUFF-->
        <div class="dayGrid">
            <div class ="headBack"></div>
            <div class="addStaff">
                + ADD
            </div>
            <div class="notesHead calHead">
                <div class="colHeader" customattrib="-1"></div>
                <div class="headButton">
                    <div class="calHeadCaret"></div>
                </div>
            </div>
            <div class="timesBar"></div>
            <div class="notesCol calCol" name="notes"></div>
            <div name="lastCol"></div>
        </div>
    </body>
</html>