<!DOCTYPE html>

<html>
    <head>
    </head>
    <body>
        <!--STUFF-->
        <div class="weekGrid">
            <div class ="headBack"></div>
            <div class="addStaff">
                + ADD
            </div>
            <div class="mondayHead calHead">
                <div class="colHeader" customattrib="0"></div>
                <div class="headButton">
                    <div class="calHeadCaret"></div>
                </div>
            </div>
            <div class="tuesdayHead calHead">
                <div class="colHeader" customattrib="1"></div>
                <div class="headButton">
                    <div class="calHeadCaret"></div>
                </div>
            </div>
            <div class="wednesdayHead calHead">
                <div class="colHeader" customattrib="2"></div>
                <div class="headButton">
                    <div class="calHeadCaret"></div>
                </div>
            </div>
            <div class="thursdayHead calHead">
                <div class="colHeader" customattrib="3"></div>
                <div class="headButton">
                    <div class="calHeadCaret"></div>
                </div>
            </div>
            <div class="fridayHead calHead">
                <div class="colHeader" customattrib="4"></div>
                <div class="headButton">
                    <div class="calHeadCaret"></div>
                </div>
            </div>
            <div class="saturdayHead calHead">
                <div class="colHeader" customattrib="5"></div>
                <div class="headButton">
                    <div class="calHeadCaret"></div>
                </div>
            </div>
            <div class="sundayHead calHead">
                <div class="colHeader" customattrib="6"></div>
                <div class="headButton">
                    <div class="calHeadCaret"></div>
                </div>
            </div>
            <div class="timesBar"></div>
            <div class="mondayCol calCol" name="wkCol2"></div>
            <div class="tuesdayCol calCol" name="wkCol3"></div>
            <div class="wednesdayCol calCol" name="wkCol4"></div>
            <div class="thursdayCol calCol" name="wkCol5"></div>
            <div class="fridayCol calCol" name="wkCol6"></div>
            <div class="saturdayCol calCol" name="wkCol7"></div>
            <div class="sundayCol calCol" name="wkCol8"></div>
            <div name="wkCol9"></div>
        </div>
    </body>
</html>