<div class="t_StartTitle">From</div>
<div class="t_Start">
    <select id="tStartSelect" class="form-control">
        <option value="2">00:00</option>
        <option value="6">01:00</option>
        <option value="10">02:00</option>
        <option value="14">03:00</option>
        <option value="18">04:00</option>
        <option value="22">05:00</option>
        <option value="26">06:00</option>
        <option value="30">07:00</option>
        <option value="34">08:00</option>
        <option value="38">09:00</option>
        <option value="42">10:00</option>
        <option value="46">11:00</option>
        <option value="50">12:00</option>
        <option value="54">13:00</option>
        <option value="58">14:00</option>
        <option value="62">15:00</option>
        <option value="66">16:00</option>
        <option value="70">17:00</option>
        <option value="74">18:00</option>
        <option value="78">19:00</option>
        <option value="82">20:00</option>
        <option value="86">21:00</option>
        <option value="90">22:00</option>
        <option value="94">23:00</option>
    </select>
</div>
<div class="t_EndTitle">To</div>
<div class="t_End">
    <select id="tEndSelect" class="form-control">
    </select>
</div>