<!DOCTYPE html>

<html>
    <head>
    </head>
    <body>
        <!--STUFF-->
        <div class="weekGrid">
            <div class ="headBack"></div>
            <div class="addStaff">
                + ADD
            </div>
            <div class="mondayHead weekdayHead">
                <div class="staffWk">Mon 14/1</div>
                <div class="headButton">
                    <div class="calHeadCaret"></div>
                </div>
            </div>
            <div class="tuesdayHead weekdayHead">
                <div class="staffWk">Tue 15/1</div>
                <div class="headButton">
                    <div class="calHeadCaret"></div>
                </div>
            </div>
            <div class="wednesdayHead weekdayHead">
                <div class="staffWk">Wed 16/1</div>
                <div class="headButton">
                    <div class="calHeadCaret"></div>
                </div>
            </div>
            <div class="thursdayHead weekdayHead">
                <div class="staffWk">Thu 17/1</div>
                <div class="headButton">
                    <div class="calHeadCaret"></div>
                </div>
            </div>
            <div class="fridayHead weekdayHead">
                <div class="staffWk">Fri 18/1</div>
                <div class="headButton">
                    <div class="calHeadCaret"></div>
                </div>
            </div>
            <div class="saturdayHead weekdayHead">
                <div class="staffWk">Sat 19/1</div>
                <div class="headButton">
                    <div class="calHeadCaret"></div>
                </div>
            </div>
            <div class="sundayHead weekdayHead">
                <div class="staffWk">Sun 20/1</div>
                <div class="headButton">
                    <div class="calHeadCaret"></div>
                </div>
            </div>
            <div class="timesBar">
                TIMES
            </div>
            <div class="mondayCol weekdayCol" name="wkCol2">
                MON
            </div>
            <div class="tuesdayCol weekdayCol" name="wkCol3">
                TUE
            </div>
            <div class="wednesdayCol weekdayCol" name="wkCol4">
                WED
            </div>
            <div class="thursdayCol weekdayCol" name="wkCol5">
                THU
            </div>
            <div class="fridayCol weekdayCol" name="wkCol6">
                FRI
            </div>
            <div class="saturdayCol weekdayCol" name="wkCol7">
                SAT
            </div>
            <div class="sundayCol weekdayCol" name="wkCol8">
                SUN
            </div>
        </div>
    </body>
</html>