/* Calendar parents */

.calMainGrid {
  display: grid;
  width: 100%;
  height: 500px;
  grid-template-columns: 22% 78%;
  /*grid-column-gap: 10px*/
  grid-template-rows: 50px 1fr;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #C2BFFE;
  background-color: #F8F8F8;
  text-align: center;
  border-collapse: collapse;
}

.calBox {
  border: 1px solid #AAAAAA;
  padding: 1px 1px;
}

.calSidebar {
  grid-row: 1 / span 2
}

.calRibbon {
  border-bottom: 1px solid #AAAAAA;
  padding: 1px 1px;
}

.calSchedule {
}

#calTodayButton {
  float: left;
  margin-left:30px;
  margin-top:11px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-indent: -8px;
  line-height: 12px;
  width: 45px;
  height: 26px;
}
.navDate {
  float: left;
  margin-top:14px;
  margin-left:20px;
}
#calFwdBwd {
  float: left;
  margin-top:6px;
  margin-left:20px;
  font-size: 1.1vw;
  font-weight: bold;
  line-height: 1px;
  color: #CBCBCB;
}

#calFwdBwd .btn-secondary {
  margin-top:5px;
  line-height: 12px;
  color:#222;
  background-color:#aaa;
  border-color:#aaa
}

#calDWM {
  float: left;
  margin-top:6px;
  margin-left:20px;
  font-size: 1.1vw;
  font-weight: bold;
  line-height: 1px;
  color: #CBCBCB;
}

#calDWM .btn-secondary {
  margin-top:5px;
  line-height: 12px;
  color:#222;
  background-color:#aaa;
  border-color:#aaa
}

#calCentreSelect {
  float: left;
  margin-top:6px;
  margin-left:20px;
  width: 110px;
  height: 0px;
  display: inline-block
}

#calFiltersButton {
  float: left;
  margin-left:20px;
  margin-top:11px;
  font-size: 12px;
  text-align: center;
  text-indent: -2px;
  line-height: 12px;
  width: 60px;
  height: 26px;
  color:#222;
  background-color:#aaa;
  border-color:#aaa
}

#calTeacherSelect {
  float: left;
  margin-top:6px;
  margin-left:20px;
  width: 200px;
  height: 0px;
  display: inline-block
}

#calCselect {
  height: 30px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#calDWM input[type="radio"] {
    display: none;
}

.day {
  color: red;
}






/* Cross view compoents */
.staffWk {
  width: 80%;
  height: 100%;
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: #424242;
  float: left;
}
.headButton {
  width: 20%;
  height: 100%;
  text-align: center;
  border-left: 1px solid #737373;
  background-color: #424242;
  float: left;
  right: 80%;
}
.calHeadCaret {
  width: 0;
  height: 0;
  border-left: 0.35vw solid transparent;
  border-right: 0.35vw solid transparent;
  border-top: 0.35vw solid white;
  display: inline-block;
}
.headBack {
  grid-area: 1 / 1 / span 1 / span 8;
  background-color: #737373;
}


/* Week View */
.weekGrid {
  display: grid;
  width: 100%;
  height: 445px;
  grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
  grid-template-rows: 4fr repeat(96, 1fr);
  grid-column-gap: .3%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFF;
  text-align: center;
}
.addStaff {
  grid-area: 1 / 1 / 2 / 2;
  background-color: #737373;
  text-align: center;
  color: white;
  font-weight: bold;
  width: 106%;
}
.weekdayCol {
  border: 1px solid #C2BFFE;
}
.weekdayHead {
  display: inline;
  height: 100%;
}
.mondayHead {
  grid-area: 1 / 2 / 2 / 3;
}
.tuesdayHead {
  grid-area: 1 / 3 / 2 / 4;
}
.wednesdayHead {
  grid-area: 1 / 4 / 2 / 5;
}
.thursdayHead {
  grid-area: 1 / 5 / 2 / 6;
}
.fridayHead {
  grid-area: 1 / 6 / 2 / 7;
}
.saturdayHead {
  grid-area: 1 / 7 / 2 / 8;
}
.sundayHead {
  grid-area: 1 / 8 / 2 / 9;
}
.timesBar {
  grid-area: 2 / 1 / 98 / 2;
  width: 106%;
}
.mondayCol {
  grid-area: 2 / 2 / 98 / 3;
}
.tuesdayCol {
  grid-area: 2 / 3 / 98 / 4;
}
.wednesdayCol {
  grid-area: 2 / 4 / 98 / 5;
}
.thursdayCol {
  grid-area: 2 / 5 / 98 / 6;
}
.fridayCol {
  grid-area: 2 / 6 / 98 / 7;
}
.saturdayCol {
  grid-area: 2 / 7 / 98 / 8;
}
.sundayCol {
  grid-area: 2 / 8 / 98 / 9;
}
